.custom-button {
    border: 1px solid transparent !important;
    cursor: pointer;
    outline: none;
    background-color: transparent !important;
    padding: 0;
    width: 100px !important;
}

.custom-button img {
    width: 40px;
    height: 40px;
}

.custom-img {
    width: 100px;
    height: 100px;
}
