.custom-input{
    margin-bottom: 20px;
    width: 350px;
    height: 60px;
    border: 1px solid #9b9a9a;
    padding: 10px;
}

.custom-button{
    height: 50px;
    width: 300px;
    border: 1px solid transparent;
    background-color: #6b262f;
    color: #fff;
    font-size: 20px;
}

.custom-button:hover{
    background-color: #48191f;
}

.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;  /* O el valor que necesites según tu diseño */
}