.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar-dark .navbar-nav .nav-link-active {
    color: #00d8ff; /* Ajusta para que coincida con tu color específico */
  }
  
  .navbar-dark .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #00d8ff; /* Ajusta para que coincida con tu color específico */
  }
  
  .navbar-dark {
    background-color: #1c1e22; /* Ajusta para que coincida con tu color de fondo específico */
  }
  